<div id="<%= dom_id commenting %>">
  <p>
    <strong>Response:</strong>
    <%= commenting.response %>
  </p>

  <p>
    <strong>Main page:</strong>
    <%= commenting.main_page_id %>
  </p>

  <p>
    <strong>Parent:</strong>
    <%= commenting.parent_id %>
  </p>

</div>
